@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nf4p2g');
  src:  url('../fonts/icomoon.eot?nf4p2g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nf4p2g') format('truetype'),
    url('../fonts/icomoon.woff?nf4p2g') format('woff'),
    url('../fonts/icomoon.svg?nf4p2g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-anchor:before {
  content: "\e901";
}
.icon-arr-circle-down:before {
  content: "\e902";
}
.icon-arr-circle-up:before {
  content: "\e903";
}
.icon-arr-down:before {
  content: "\e904";
}
.icon-arr-left:before {
  content: "\e905";
}
.icon-arr-right:before {
  content: "\e906";
}
.icon-arr-up:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e908";
}
.icon-cancel:before {
  content: "\e909";
}
.icon-channel:before {
  content: "\e90a";
}
.icon-chat-full:before {
  content: "\e90b";
}
.icon-chat:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-envelope:before {
  content: "\e90e";
}
.icon-filter:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}
.icon-pencil:before {
  content: "\e911";
}
.icon-people:before {
  content: "\e912";
}
.icon-person:before {
  content: "\e913";
}
.icon-phone:before {
  content: "\e914";
}
.icon-photo:before {
  content: "\e915";
}
.icon-remove:before {
  content: "\e916";
}
.icon-save:before {
  content: "\e917";
}
.icon-tools:before {
  content: "\e918";
}
