<div class="wrap">
	<header>
		<img width="250" src="../assets/logo.svg"/>
	</header>
	<ul>
		<li>
			<p class="info"><i class="icon-channel"></i>send your Application Form<br>to all companies by 1 click</p>
			<a href="#">Vacancies</a>
		</li>
		<li>
			<p class="info"><i class="icon-people"></i>join to our wide<br>maritime community</p>
			<a routerLink="/seafarers">Seafarers</a>
		</li>
		<li>
			<p class="info"><i class="icon-person"></i>learn, check and apply<br>a hundreds of vacancies</p>
			<a href="#">News</a>
		</li>
	</ul>
	<footer>
		<a href="#">Sign up for free</a>
		<p class="f_links"><a href="#">Have an account?</a> | <a href="#">Account recovery</a> | <a href="#">Privacy policy</a></p>
	</footer>
</div>